.new-story-title{
  margin-left: 20em;
  width: 80.7em;
}

.new-story-desc{
  margin-left: 20em;
  width: 80.7em;
}

.new-story-content{
  margin-left: 17.5em;
  width: 70.6em;
}

.new-story-buttons{
  margin-left: 17.5em;
}