.index-story-desc{
  text-align: center;
}

.index-story-title{
  text-align: center;
  color: #4357ad;
}

.top-bar {
  background-color: #c1666b;
}

.side-bar{
  background-color: #4357ad;
}

.index-story-div{
  border-style: solid;
  margin-left: 20.3em;
  width: 65em;
  background-color: #FFF689;
  margin-top: 2em;
  border-radius: 2em;
}

li  {
  background-color: #c1666b;
}

h1 {
  margin-left: 15.2em;
}